body{
  color: #fff;
  background: #202020;
  font-family: 'Roboto', 'Noto', sans-serif;
  header {
    position: fixed;
    top: 0;
    z-index: 100000;
    background: #202020;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
};

.videoItemContainer .ui.segment > div {
  margin: 20px auto;
}

.home .four.column{
  background-color: #181818;
}

.form-outer-container {
  height: 400px;
  width: 350px;
  margin: 0 auto;
  margin-top: 10%;
  .form-inner-container {
    box-sizing: border-box;
    padding: 40px;
    box-shadow: inset 0px 1px 4px 3px;
    border-radius: 3px;
    background-color: #121212;
    border: 1px solid #121212;
    background-color: #202020;
    border-style: inset;
    .session-form{
      display: flex;
      flex-direction: column;
      min-height: 300px;
      color: #fff;
      &.login {
        min-height: 250px;
      }
      h2 {
        margin: 10px 0 20px;
        font-size: 2rem;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &.login{
          height: 165px;
        }
        &.signup {
          height: 225px;
        }
        div{
          display:flex;
          flex-direction:column;
          justify-content:space-around;
          input {
            flex: 1;
            -webkit-flex-basis: 0.000000001px;
            flex-basis: 0.000000001px;
            margin-left: 1px;
            padding: 2px 7px;
            box-sizing: border-box;
            line-height: 28px;
            border: none;
            background-color: #121212;
            box-shadow: none;
            text-align: inherit;
            color: inherit;
            font-family: 'Roboto','Noto',sans-serif;
            font-size: 16px;
            font-weight: 400;
            outline: none;
          }
          label{
            font-weight: 100;
            padding-bottom: 5px;
          }
          &:last-child div, &:last-child {
            button{
              max-width: 50%;
              color: rgba(39, 147, 230, 0.6);
              background-color: transparent;
              background-size: 15px 15px;
              padding: 7px 21px;
              border-radius: 3px;
              margin: 0 0.29em;
              box-sizing: border-box;
              border: 1px solid;
              text-decoration: none;
              font-size: 1.6rem;
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}