body{
  color: #fff;
  background: #202020;
  font-family: 'Roboto', 'Noto', sans-serif;
};

.videoItemContainer .ui.segment > div {
  margin: 20px auto;
}

.home .four.column{
  background-color: #181818;
}