.home {
  display:flex;
  #hero {
    background-image: url('/../../images/viewTubeHero.png');
    background-size: cover;
    width: 100%;
    height:auto;
  }
}

.sidebar{
  flex: 1;
}
.four.column {
  flex: 7;
}