.home {
  display:flex;
  #hero {
    background-image: url('./viewTubeHero.png');
    background-size: 96.5%;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
  }
}

.sidebar{
  flex: 1;
}
.four.column {
  flex: 7;
}