// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 24px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  .videoItemContainer {
    flex: 1 0 21%;
    margin: 5px;
    height: auto;
    margin-left: calc(16px / 2);
    margin-right: calc(16px / 2);
    margin-bottom: 40px;
    h4 {
      color: var(--yt-spec-text-primary);
      display: -webkit-box;
      max-height: calc(2 * var(--yt-link-line-height, 1.6rem));
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 2;
      font-size: var(--yt-link-font-size, 1.4rem);
      font-weight: 500;
      line-height: var(--ytd-link-line-height, 1.6rem);
      letter-spacing: var(--yt-link-letter-spacing, normal);
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.2rem;
      max-height: 4.4rem;
    }
    video {
      max-width: 200px;
    }
  }
}