// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 24px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  .videoItemContainer {
    .embed {
      background-size: cover;
      background-position-y: center;
      height: 180px;
      video {
        visibility: hidden;
      }
    }
    &:nth-child(1) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/fuel-trucks-parking.jpeg);
    }
    &:nth-child(2) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/trail-hiking.jpeg);
    }
    &:nth-child(3) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/mile-22.jpeg);
    }
    &:nth-child(4) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/sumo-wrestling.jpeg);
    }
    &:nth-child(5) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/alice-in-wonderland.jpeg);
    }
    &:nth-child(6) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/barbarella.jpeg);
    }
    &:nth-child(7) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/batman.jpeg);
    }
    &:nth-child(8) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/enter-dragon.jpeg);
    }
    &:nth-child(9) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/fourty-yo-virgin.jpeg);
    }
    &:nth-child(10) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/frankenstein.jpeg);
    }
    &:nth-child(11) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/harry-potter.jpeg);
    }
    &:nth-child(12) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/itsawonderful-life.jpeg);
    }
    &:nth-child(13) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/journey-to-the-center.jpeg);
    }
    &:nth-child(14) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/king-kong-v-godzilla.jpeg);
    }
    &:nth-child(15) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/obrother.jpeg);
    }
    &:nth-child(16) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/omega-man.jpeg);
    }
    &:nth-child(17) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/princess-bride.jpeg);
    }
    &:nth-child(18) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/revenge-of-the-creature.jpeg);
    }
    &:nth-child(19) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/robinson-crusoe.jpeg);
    }
    &:nth-child(20) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/sound-of-music.jpeg);
    }
    &:nth-child(21) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/spangebob-squarepants.jpeg);
    }
    &:nth-child(22) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/to-catch-a-thief.jpeg);
    }
    &:nth-child(23) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/war-of-the-worlds.jpeg);
    }
    &:nth-child(24) .embed{
       background-image: url(https://viootube-dev.s3-us-west-1.amazonaws.com/thumbnails/willy-wonka.jpeg);
    }
    flex: 1 0 21%;
    margin: 5px;
    height: auto;
    margin-left: calc(16px / 2);
    margin-right: calc(16px / 2);
    margin-bottom: 40px;
    .segment {
      display: flex;
      justify-content: space-between;
      > div {
        margin: 10px 5px;
        color: #fff;
        box-sizing: border-box;
        padding: 0 0 10px;
        .video-description {
           --max-lines: 3;
          position: relative;
          max-height: calc(var(--lh) * var(--max-lines));
          line-height: 1.6rem;
          overflow: hidden;
          padding-right: 1rem; /* space for ellipsis */
          &:before {
            position: absolute;
            content: "...";
            inset-block-end: 0; /* "bottom" */
            inset-inline-end: 0; /* "right" */
          }
          &:after {
            content: "";
            position: absolute;
            inset-inline-end: 0; /* "right" */
            width: 1rem;
            height: 1rem;
            background-color: #181818;
          }
        }
      }
      .shares-likes {
        display: flex;
        flex-direction: row;
        min-width: 40px;
      }
    }
    h4 {
      color: var(--yt-spec-text-primary);
      display: -webkit-box;
      max-height: calc(2 * var(--yt-link-line-height, 1.6rem));
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 2;
      font-size: var(--yt-link-font-size, 1.4rem);
      font-weight: 500;
      line-height: var(--ytd-link-line-height, 1.6rem);
      letter-spacing: var(--yt-link-letter-spacing, normal);
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2.2rem;
      max-height: 4.4rem;
    }
    video {
      max-width: 100%;
    }
  }
}